<h2>Alunos</h2>
<%= stylesheet_link_tag 'default' %>

<% if flash[:notice] %>

<p style="color: green; font-style: italic"><%= flash[:notice] %></p>
<% end %>

<p> <%= link_to "Novo Aluno", :action => "edit" %> ou 
	<%= link_to_remote "Pesquisar Aluno", :update => "pesquisa", :url => { :action => "pesquisa"} %>  <br>


<div id="pesquisa"></div><br>
<table border="0" cellpading="1" cellpacing="1">
<tbody>
<tr>
	<tt></tt>
	<tt></tt>
	<tt></tt>
	<tt></tt>
</tr>
<% @alunos.each do |aluno| %>
<tr>
	<td><%= aluno.nome %><td>
	<td><%= aluno.telefone %><td>
	<td><%= aluno.celular %><td>
	<td>
		<%= link_to "Editar", :action => "edit", :id => aluno %> ou
		<%= link_to "Excluir", { :action => "delete", :id => aluno }, :confirm => "Deseja realmente excluir o aluno?" %>
	</td>
</tr>
<tbody>
<% end %>
</table>