<h2>Cursos</h2>
<%= stylesheet_link_tag 'default' %>

<% if flash[:notice] %>

<p style="color: green; font-style: italic"><%= flash[:notice] %></p>
<% end %>

<p> <%= link_to "Novo Curso", :action => "edit" %></p>
<div id="content">
<table border="0" cellpading="1" cellpacing="1">
<tbody>
<tr>
	<tt></tt>
	<tt></tt>
	<tt></tt>
	<tt></tt>
</tr>
<% @cursos.each do |curso| %>
<tr>
	<td><%= curso.nome %><td>
	<td><%= curso.valor_curso %><td>
	<td><%= curso.valor_material %><td>
	<td>
		<%= link_to "Editar", :action => "edit", :id => curso %> ou
		<%= link_to "Excluir", { :action => "delete", :id => curso }, :confirm => "Deseja realmente excluir o curso?" %>
	</td>
</tr>
<tbody>
<% end %>
</table>
</div>